name: CI/CD to Docker Hub and ECS

on:
  workflow_run:
    workflows: ["Run Unit Tests"]   # Must match the 'name' in ci.yaml exactly
    types:
      - completed

jobs:
  build-and-push:
    # Only run if the 'Run Unit Tests' workflow passed
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: sudramak/doc_analyzer:latest