name: Test and Build Docker Image

name: Build Docker Image
on:
  workflow_run:
    workflows: ["Run Unit Tests"]   # Match the name in your ci.yaml
    types: [completed]

  # NEW JOB: Builds the image only if tests pass
  jobs:
    build-and-push:
      needs: test
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - name: Log in to Docker Hub
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKER_HUB_USERNAME }}
            password: ${{ secrets.DOCKER_HUB_TOKEN }}

        - name: Build and push
          uses: docker/build-push-action@v4
          with:
            push: true
            tags: sudramak/doc_analyzer:latest